<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{ mytitle }}</title>
</head>
<body>
    <form action="/" method="post">
        enter vcenter name:<br />
        <input type="text" id="vcentername" name="vcentername"> <br /><br />
        enter username:<br />
        <input type="text" name="username"> <br /> <br />
        enter PW:<br />
        <input type="text" name="password"><br /> <br />
        <input type="submit" name="submit">
    </form>
    <h1> {{ mytitle }} </h1>
    <!--
        {% for folder in folders %}
        <li> {{ folder }} </li>
        {% endfor %}
    -->
    <h2> Select the Template </h2>
    <label for="templates"></label>
    <select id="templates" name="templates">
        <option value="Default" selected> Select Template </option>
        {% for template in templates %}
            <option value="{{ template}}"> {{ template }} </option>
        {% endfor %}
    </select>
    <button onclick="addvmSpec(1)">Add Template</button>
    <h2> Select the vm folder </h2>
    <label for="folders"> </label>
    <select id="folders", name="folders">
        <option value="Default" selected> Select Folder </option>
        {% for folder in folders %}
            <option value="{{ folder }}"> {{ folder }} </option>
        {% endfor %}
    </select>
    <button onclick="addvmSpec(2)">Add Folder</button>
    <br />
    <br />
    <h2> Create new folder (if needed)</h2>
    <form action="/" method="post">
        <input type="text" id="new_folder" name="new_folder"> <br />
        <input type="submit" name="create_folder">
    </form>
    <h2> Select the cluster </h2>
    <label for="clusters"> </label>
    <select id="clusters", name="clusters">
        <option value="Default" selected> Select Cluster </option>
        {% for cluster in clusters %}
            <option value="{{ cluster }}"> {{ cluster }} </option>
        {% endfor %}
    </select>
    <button onclick="addvmSpec(3)">Add Cluster</button>
    <h2> Select the Datastore Cluster </h2>
    <label for="datastore_clusters"></label>
    <select id="datastore_clusters", name="datastore_clusters">
        <option value="Default" selected> Select Datastore Cluster </option>
        {% for dsc in datastore_cluster %}
            <option value="{{ dsc }}"> {{ dsc }} </option>
        {% endfor %}
    </select>
    <button onclick="addvmSpec(4)">Add Datastore Cluster</button>    
    <h2> Select the datastore </h2>
    <label for="datastores"> </label>
    <select id="datastores", name="datastores">
        <option value="Default" selected> Select Datastore </option>
        {% for datastore in datastores %}
            <option value="{{ datastore }}"> {{ datastore }} </option>
        {% endfor %}
    </select>
    <button onclick="addvmSpec(5)">Add Datastore</button>
    <h2> Select the network </h2>
    <label for="networks"> </label>
    <select id= "networks", name="networks">
        <option value="Default" selected> Select Network </option>
        {% for network in networks %}
            <option value="{{ network }}"> {{ network }} </option>
        {% endfor %}
    </select>
    <button onclick="addvmSpec(6)">Add Network</button>
    <h2> Deploy VM </h2>
    <form action ="/" method="post">
        <label for="deploy"> </label>
        <select id="deployvm", name="deployvm">
        </select>

    </form>
   <!-- <p id="test"></p> -->
    <script>
    let x = 5;
    let y = 6;
    let z = x * y;
    var temp = "";
    var folder = "";
    var cluster = "";
    var dsc = "";
    var ds = "";
    var network = "";
    var tempText = "";
    var folderText = "";
    var clusText = "";
    var dscText = "";
    var dsText = "";
    var netText = "";
    function addvmSpec(result){
        var selectTemp = document.getElementById('templates');
        var selectFolder = document.getElementById('folders');
        var selectClust = document.getElementById('clusters');
        var selectDsc = document.getElementById('datastore_clusters');
        var selectDs = document.getElementById('datastores');
        var selectNetwork = document.getElementById('networks');
        var deployVM = document.getElementById('deployvm');
        if (result == 1 && tempText == ""){
            tempText = selectTemp.options[selectTemp.selectedIndex].text;
            var option = document.createElement('option');
            //option.setAttribute("id", "template");
            option.text = tempText;
            deployVM.appendChild(option);
            temp = {"template": option.value}
            //text = "";
        }
        if (result == 2 && folderText == ""){
            folderText = selectFolder.options[selectFolder.selectedIndex].text;
            var option = document.createElement('option');
            option.text = folderText;
            deployVM.appendChild(option);
            folder = {"folder": option.value};
        }
        if (result == 3 && clusText == ""){
            clusText = selectClust.options[selectClust.selectedIndex].text
            var option = document.createElement('option');
            option.text = clusText;
            deployVM.appendChild(option);
            cluster = {"cluster": option.value};
        }
        if(result == 4 && dscText == ""){
            dscText = selectDsc.options[selectDsc.selectedIndex].text;
            var option = document.createElement('option');
            option.text = dscText;
            deployVM.appendChild(option);
            dsc = {"dsc": option.value};
        }
        if(result == 5 && dsText == ""){
            dsText = selectDs.options[selectDs.selectedIndex].text;
            var option = document.createElement('option');
            option.text = dsText;
            deployVM.appendChild(option);
            ds = {"ds": option.value};
        }
        if(result == 6 && netText == ""){
            netText = selectNetwork.options[selectNetwork.selectedIndex].text;
            var option = document.createElement('option');
            option.text = netText;
            deployVM.appendChild(option);
            network = {"network": option.value};
        }

    //    else{
    //        console.log("Template text reset")
    //    }
        console.log(tempText);
        console.log(folder)
        console.log(temp);
        console.log(cluster);
        console.log(dsc);
        console.log(ds);
        console.log(network);